# Ignore build artifacts
*build/

# Ignore CMake files
CMakeFiles/
CMakeCache.txt
*.cmake

# Ignore executables and libraries
*.exe
*.out
*.a
*.lib
*.so
*.dll

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
